.cartpage {
    padding: 150px;
}

.cart-box {
    max-width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    min-height: 100vh;
}

.cart-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.cart-img {
    border: 1px solid black;
    padding: 5px;
    max-width: 530px;
}

.cart-img img {
    width: 100%;
    height: 100%;
}

.cart-btn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 530px;
}

.cart-btn button {
    width: 40%;
    color: white;
    background-color: blue;
    border: 1px solid black;
    box-shadow: 2px 0px 10px rgb(189, 183, 183);
    text-align: center;
    padding: 10px;
}

.cart-btn button:hover {
    background-color: rgb(83, 83, 235);
}

.cart-right {
    width: 40%;
    border-left: 2px solid black;
}

.cart-content {
    margin-left: 30px;
}

.cart-content .cart-productname {
    font-weight: 500;
}

.cart-content span {
    color: white;
    background-color: rgb(12, 192, 12);
    border-radius: 4px;
    padding: 4px;
    margin-right: 8px;
    font-weight: 500;
}

.done-btn {
    margin-top: 10px;
    background: #6c63ff;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.done-btn:hover {
    background: #5a31f4;
}

