.category-section {
  padding: 100px;
  background: #f8f9fa;
}

.category-div {
  width: 100%;
  margin: auto;
}

.category-section h2 {
  margin-bottom: 30px;
}

.card-div {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  border: 1px solid gray;

}

.category-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* .product-card {
  background-color: #ffff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

.category-img {
  width: 25%;
  height: 250px;
  margin: 10px 0px;
}

.category-img img {
  width: 80%;
  margin: auto;
  height: 100%;
}

.card-detail {
  width: 50%;
}

.card-detail h3 {
  margin: 12px 30px;
}

.card-detail p {
  margin: 12px 30px;
}

card-detail ul {
  margin: 12px 30px;
  color: gray;
}

card-detail ul li {
  list-style-type: disc;
}

.price-details {
  width: 25%;
}

.price-details h3 {
  margin: 12px 20px;
}

.price-details p {
  margin: 12px 20px;
}

/* .product-img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  margin-bottom: 8px;
} */

.buy-btn {
  margin-top: 30px;
  margin-left: 20px;
  background: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buy-btn:hover {
  background: #5a31f4;
}

/* .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
} */