.product-section {
  padding: 150px;
  background: #f8f9fa;
}

.product-div{
    background-color: beige;
}

/* .product-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #212529;
  text-align: center;
} */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.product-card {
  background-color: #ffff;
  border: 1px solid #e0e0e0;
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.product-img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  margin-bottom: 8px;
}

.price {
  font-size: 1.1rem;
  color: #5a31f4;
  font-weight: 600;
}

.rating {
  color: #555;
  font-size: 0.9rem;
  margin: 5px 0;
}

.buy-btn {
  margin-top: 10px;
  background: #6c63ff;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buy-btn:hover {
  background: #5a31f4;
}
