.description {
    padding: 150px;
}

.desc-box {
    max-width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
    min-height: 80vh;
}

.desc-left {
    /* border: 1px solid black; */
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
}

.desc-img {
    text-align: center;
    border: 1px solid black;
    max-width: 450px;
    padding: 2px;
}

.desc-img img {
    width: 100%;
    height: 100%;
}

.desc-btn {
    width: 530px;
    text-align: center;
}

.desc-btn button {
    width: 40%;
    margin: 5px;
    color: white;
    background-color: blue;
    border: 1px solid black;
    box-shadow: 2px 0px 10px rgb(189, 183, 183);
    text-align: center;
    padding: 10px;
}

.desc-btn button:hover {
    background-color: rgb(83, 83, 235);
}

.desc-right {
    width: 60%;
    border-left: 2px solid black;
}

.desc-content {
    margin-top: 50px;
    margin-left:25px;
}

.desc-content .productname {
    font-weight: 500;
}

.desc-content span {
    color: white;
    background-color: rgb(12, 192, 12);
    border-radius: 4px;
    padding: 4px;
    margin-right: 8px;
    font-weight: 500;
}