/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    overflow-x: hidden;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    box-shadow: 2px 0px 10px rgb(189, 183, 183);
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 100px;
    height: 90px;
}

.logo img {
    width: 100%;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-weight: 400;
    margin: 20px;
}

header ul li a {
    text-decoration: none;
    color: red;
}

header ul li a:hover {
    color: brown;

}

.input-wrapper {
    position: relative;
    width: 350px;
}

.input-wrapper input {
    margin-top: 25px;
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(235, 233, 233);
}

.input-icon {
    margin:4px;
    position: absolute;
    left: 12px;
    top: 40%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.icon-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    align-items: center;
}

.icons{
    cursor: pointer;
    margin-left: 10px;
    font-size: 26px;
    color: black;
}

.icons:hover {
    color: blue;
}

.icon-options p {
    font-weight: 600;
    margin-left: 8px;
}
