.kids {
    padding: 150px;
}

.kids_products_box {
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 0px 10px rgb(189, 183, 183);
}

.kids_products {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.grid_section_01 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid_box {
    flex: 1;
    max-width: 32%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgb(189, 183, 183);
}

.grid_products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid_products img {
    width: 100%;
    height: auto;
    object-fit: contain;
}