.kids {
    padding: 150px;
}

.kids_products_box {
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 0px 10px rgb(189, 183, 183);
}

.kids_products {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.kids_products img {
    width: 320px;
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
}