footer {
    background-color: black;
    color: white;
    max-width: 100vw;
    margin: auto;
    padding: 24px;
    position:sticky;

}

footer .question {
    padding: 6px;
    margin: 30px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.queries {
    display: flex;
    justify-content: space-around;
}

.footer-items {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

.queries span {
    color: gray;
    font-size: 15px;
    padding: 8px;
}

.queries a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 8px;
}

.queries a:hover {
    text-decoration: underline;
}

.address {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #454d5e;
}

.address span {
    color: gray;
    font-size: 15px;
    padding: 8px;
}

.mailus {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 60px;
}

.address p {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.socialLinks p{
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
}

.socialIcons a{
    color: white;
}

.socialIcons a:hover{
    color: blue;
}

.country {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}